html, body {
	margin: 0px;
	padding: 0px;
	font-family: Segoe UI;
	overflow: hidden;
}

div {
	justify-content: center;
	align-items: center;
	display: flex;
}

button {
	border-radius: 15px;
	border: 3px solid black;
	background: none;
}

#Canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999999;
}

.score_btn {
	border-radius: 0px;
	border: 0px;
	opacity: 0.5;
}

.score_btn:active {
	opacity: 0.5;
	background: white;
}

.init_score_btn {
	border: 0px;
	border-radius: 0px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.init_score_btn:active {
	opacity: 0.5;
}

.init_score_btn_left {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-left: 1px solid;
}

.init_score_btn_right {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-right: 1px solid;
}